In [1]:
import pandas as pd

In [18]:
opposition_parties = ['kd', 'l', 'm', 'sd', 'v']
data_path = '../data'
frames = []

for party in opposition_parties:
    frame = pd.read_csv(f'{data_path}/budgetmotion-2022-{party}.csv', dtype=str)
    frame['Parti'] = party.upper()
    frames.append(frame)

In [19]:
df = pd.concat(frames, sort=False)

In [20]:
df

,Utgiftsområde,Namn,Regeringens förslag,Avvikelse från regeringen,Parti
0,1,Rikets styrelse,17268338000,-148500000,KD
1,2,Samhällsekonomi och finansförvaltning,17971183000,137000000,KD
2,3,"Skatt, tull och exekution",12729734000,130000000,KD
3,4,Rättsväsendet,61688986000,1593000000,KD
4,5,Internationell samverkan,2235117000,-14000000,KD
...,...,...,...,...,...
111,99:2,Biopremier inom jordbruket,NaN,25000000,V
112,1:5,Näringslivsutveckling,NaN,452000000,V
113,1:20,Bidrag till företagsutveckling och innovation,NaN,50000000,V
114,99:1,Program grön omställning inom pappersindustrin,NaN,200000000,V
115,1:1,Kommunalekonomisk utjämning,NaN,21771000000,V